body { 
    background-color: rgb(19, 143, 226); 
}

header {
    height: 100px; /* Высота шапки */
    background-color: #6fc2f2;
    color: #000;
   }

header {

	/* Распределяем элементы внутри шапки */
	justify-content: space-between;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6fc2f2;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
