body {
    color:white;
    font-size: 30px;
    background-color: #d5f3f3;
  }

* {
    box-sizing: border-box;
  }

  header {
    height: 100px; /* Высота шапки */
    background-color: #6fc2f2;
    color: #000;
    justify-content: flex-end;
   }